{% extends "main.html" %}

{% block title %}Страница регистрации{% endblock %}

<!-- write jquery listener on field status -->

{% block first %}
    <div id="registration">
      <h2><strong>Регистрация</strong></h2>
      <p>
        <small>Пожалуйста, заполните форму</small>
      </p>
      <br>
      <form action="." method="post" enctype="multipart/form-data" class="form-horizontal">
        {% for field in form %}
            <div class="row">
              <div class="form-group {% if field.errors %}has-error{% endif %}">
                {% with field.name as name %}
                  <label for="{{ name }}" class="col-sm-2 control-label">{{ field.label }}</label>
                  <div class="col-sm-3">
                      {% if name == "password1" or name == "password2" %}
                        <input type="password" class="form-control" id="{{ field.id_for_label }}" name="{{ name }}" />
                      {% elif name == "gender" %}
                        <select class="form-control" id="{{ field.id_for_label }}" maxlength="1" name="{{ name }}">
                          <option value="М">Мужской</option>
                          <option value="Ж">Женский</option>
                        </select>
                      {% elif name == "photo" %}
                        <input type="file" class="form-control" id="{{ field.id_for_label }}" name="{{ name }}" />
                      {% else %}
                        <input type="text" class="form-control" id="{{ field.id_for_label }}" name="{{ name }}" placeholder="{{ field.help_text }}"/>
                      {% endif %}
                      {% for error in field.errors %}
                        <span class="help-block">{{ error }}</span>
                      {% endfor %}
                  </div>
                {% endwith %}
              </div>
            </div>
        {% endfor %}
        {% csrf_token %}
        <button type="submit" class="btn btn-default">&nbsp;&nbsp;&nbsp;Зарегистрироваться&nbsp;&nbsp;&nbsp;</button>
      </form>
    </div>



{% endblock %}
